{% extends 'blog/base.html' %}

{% block content %}
    <h3>Ура, ты перешел на страницу о нас!</h3>
    <div class="container">
        <p>Эта страница о нашем сайте. Здесь ты можешь посмотреть наши контакты и адрес. Рады, что у нас получился
        текст, который красиво помещается в контейнер. Старались очень долго и упорно. Надеемся, ты оценишь это!</p>
    </div>
    <div class="Contacts">
        <p>Контакты: +7983232432, +792362636232</p>
        <p>Адрес: Россия, г.Москва ул.Власова д.45 </p>
        <p>Индекс: 4532343120</p>
    </div>
{% endblock %}