{% extends 'blog/base.html' %}

{% block content %}
<div class="row" style="margin-bottom: 300px; margin-top: 100px">
    <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Авторизация</h1>
        <hr>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success" value="Войти">
        </form>
    </div>
</div>
{% endblock %}
