{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}

        <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|truncatechars:100 }}</p>
            <div class="date-author">
                <p>Опубликовано: {{ post.published_date }}</p>
                <p>Автор: {{ post.author }}</p>
            </div>
        </div>
    {% endfor %}

    <div class="paginator">
        {% if posts.has_previous %}
            <a href="?page=1"><<</a>
            <a href="?page={{ posts.previous_page_number }}"><</a>
        {% endif %}
        {% for num in posts.paginator.page_range %}
            {% if posts.number == num %}
                <strong>{{ num }}</strong>
            {% elif num > posts.number|add:'-2' and num < posts.number|add:'2' %}
                {{ num }}
            {% endif %}
        {% endfor %}
        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">></a>
            <a href="?page={{ posts.paginator.num_pages }}">>></a>
        {% endif %}
    </div>
{% endblock %}