{% load static %}

<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body>
    <header class="p-3 bg-dark text-white">
        <h2><a href="/">Django Blog</a></h2>

      {% if user.is_authenticated %}
          <h4>Добро пожаловать, {{ user.username }}</h4>
      {% endif %}

      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-end">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            {% if user.is_authenticated %}
                <li><a href="{% url 'post_new' %}" class="nav-link px-2 text-white">➕</a></li>
            {% endif %}
            <li><a href="{% url 'articles' %}" class="nav-link px-2 text-white">Articles</a></li>
            <li><a href="{% url 'about' %}" class="nav-link px-2 text-white">About</a></li>
      </ul>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="{% url 'articles' %}">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search"
                 name="search">
        </form>

        {% if not user.is_authenticated %}
        <div class="text-end">
            <button type="submit" onclick="location.href='/login'" class="btn btn-outline-light me-2">Login</button>
            <button type="submit" onclick="location.href='/registration'" class="btn btn-outline-warning">Sign-up</button>
        </div>
        {% else %}
        <div class="text-end">
            <button type="submit" onclick="location.href='/logout'" class="btn btn-outline-warning">Logout</button>
        </div>
        {% endif %}
      </div>
    </header>
    {% block content %}
        <h3>Главная страница</h3>
        <div class="count-arts">
            <p>Количество статей на сайте: {{ post_count }}</p>
            <p>Московское время: {{ time_now }}</p>
        </div>
    {% endblock %}
    </body>
</html>
