{% extends 'blog/base.html' %}


{% block content %}
    <div class="realy">
        <h1>Вы действительно хотите удалить статью {{ post.title }}?</h1>
    </div>
    <form method="POST" enctype="multipart/form-data" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class=" delete btn btn-danger">Удалить статью</button>
    </form>
{% endblock %}