{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <h1>{{ post.title }}</h1>
        {% if post.image %}
            <img src="{{ post.image.url }}">
        {% endif %}
        <div class="text">
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        <div class="date">
            <p>Опубликовано: {{ post.published_date }}</p>
        </div>
        <div class="author">
            <p>Автор: {{ post.author }}</p>
        </div>
        {% if user.is_authenticated %}
        <div class="pencil">
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">🖊</a>
            <a class="btn btn-danger" href="{% url 'post_delete' pk=post.pk %}">Удалить</a>
        </div>
        {% endif %}
    </div>
{% endblock %}