{% extends 'blog/base.html' %}

{% block content %}
    <div class="New">
        <h1>New post</h1>
    </div>
    <form method="POST" enctype="multipart/form-data" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-success">Save</button>
    </form>
{% endblock %}
