{% extends 'blog/base.html' %}

{% block content %}
<div class="row" style="margin-bottom: 50px; margin-top: 50px">
    <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Регистрация нового пользователя</h1>
        <hr>
        <form action="" method="POST">
            {% csrf_token %}

            {{ form.as_p }}
            <input type="submit" class="btn btn-success" value="Создать аккаунт">
        </form>
    </div>
</div>
{% endblock %}
