body {
    background-image: url("https://klike.net/uploads/posts/2019-12/1577348877_3.jpg");
}

h2 {
    float: left;
    top: 10px;
}

h2 a {
    color: white;
}
a {
    color: orange;
}

h2 a:hover {
    text-decoration: none;
    color: green;
    background: none;
}

a:hover {
    color: green;
    text-decoration: none;
    background: green;
}

h1 {
    margin-top: 60px;
    color: goldenrod;
    font-weight: bold;
    text-shadow: black 1px 1px 0, black -1px -1px 0,
                 black -1px 1px 0, black 1px -1px 0;
    text-align: center;
}

.realy {
    text-align: center;
}

.realy h1 {
    display: inline-block;
    max-width: 40%;
}

.new {
    text-align: left;
}

.new h1 {
    display: inline-block;
}

h1 a:hover {
    text-decoration: none;
    color: green;
    background: none;
}
.post {
    margin-left: 30px;
}

.post p {
    font-size: 15px;
    text-align: center;
    display: inline-block;
    max-width: 40%;
}

p {
    color: white;
    font-weight: 700;
    text-shadow: black 1px 1px 0, black -1px -1px 0,
                 black -1px 1px 0, black 1px -1px 0;
}

h3 {
    text-align: center;
    color: goldenrod;
    font-weight: bold;
    text-shadow: black 1px 1px 0, black -1px -1px 0,
                 black -1px 1px 0, black 1px -1px 0;
}

.contacts p {
    color: red;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}

.contacts {
    position: absolute;
    bottom: 0;
}

.container {
    max-width: 60%;
    text-align: center;
    margin-top: 60px;
    position: relative;
}

.count-arts p {
    text-align: center;
    margin-top: 20px;
}

.count-arts {
    margin-top: 100px;
}

.date-author p {
    font-size: 15px;
}

.btn {
    color: white;
    border-radius: 10px;
    border-width: 3px;
    font-weight: 700;
}

.btn:hover {
    color: green;
}

.pencil a.btn-danger {
    background-color: darkred;
    color: white;
}

.pencil a.btn:hover {
    background-color: red;
}

.nav {
    font-weight: 700;
}

button.save {
    color: white;
    background-color: #424242;
    border: none;
}

button.save:hover {
    color: white;
}

.pencil a.btn-default:hover {
    background-color: green;
}

.pencil a.btn-default {
    background-color: #424242;
    position: relative;
}

.post {
    text-align: center;
}

.paginator {
    color: white;
    text-align: center;
    background-color: black;
    box-sizing: border-box;
    margin-left: 750px;
    margin-right: 750px;
}

.paginator a {
    background-color: transparent;
    color: black;
    font-weight: bold;
    text-shadow: goldenrod 1px 1px 0, goldenrod -1px -1px 0,
                 goldenrod -1px 1px 0, goldenrod 1px -1px 0;
}

.paginator a:hover {
    color: green;
}

.paginator strong {
    color: red;
}

ul.errorlist li {
    color: red;
    font-weight: bold;
    text-shadow: black 1px 1px 0, black -1px -1px 0,
                 black -1px 1px 0, black 1px -1px 0;
    width: 550px;
    background-color: plum;
}

.helptext {
    font-size: 12px;
}

.col-md-6 form {
    width: 500px;
}

input.btn:hover {
    color: white;
}

h1.text-center {
    margin-top: 10px;
    margin-bottom: 100px;
}

h4 {
    color: green;
    font-size: 15px;
    margin-top: 15px;
    position: absolute;
    padding-left: 300px;
}

#id_username {
    margin-left: 200px;
}

#id_password {
    margin-left: 188px;
}

#id_confirm_password {
    margin-left: 78px;
}

#id_email {
    margin-left: 91px;
}

img {
    max-width: 700px;
    max-height: 700px;
}

.text p {
    font-size: 15px;
    text-align: center;
    display: inline-block;
    max-width: 40%;
}

button.delete  {
    background-color: darkred;
    border: 5px;
    margin-left: 45%;
}

button.delete:hover {
    color: white;
}
